{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="container-fluid mt-5 pt-5 pb-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h4 class="text-center mb-5">Datos del padre o representante</h4>
                    <div class="row row-cols-2">
                        <div class="mb-3 col">
                            <label for="exampleInputEmail1" class="form-label">Número de Cédula (*)</label>
                            {{ form_applicant.identification_number }}
                        </div>
                        <div class="mb-3 col"></div>
                        <div class="mb-3 col">
                            <label for="exampleInputEmail1" class="form-label">Primer Nombre (*)</label>
                            {{ form_applicant.first_name }}
                        </div>
                        <div class="mb-3 col">
                            <label for="exampleInputEmail1" class="form-label">Primer Apellido (*)</label>
                            {{ form_applicant.last_name }}
                        </div>
                        <div class="mb-3 col">
                            <label for="exampleInputEmail1" class="form-label">Segundo Nombre</label>
                            {{ form_applicant.second_name }}
                            <div class="form-text">Campo Opcional</div>
                        </div>
                        <div class="mb-3 col">
                            <label for="exampleInputEmail1" class="form-label">Segundo Apellido</label>
                            {{ form_applicant.mother_last_name }}
                            <div class="form-text">Campo Opcional</div>
                        </div>
                    </div>
                    <fieldset class="mt-4">
                        <legend>Datos de contacto</legend>
                        <div class="row row-cols-2">
                            <div class="mb-3 col">
                                <label for="exampleInputEmail1" class="form-label">Correo eletrónico (*)</label>
                                {{ form_applicant.email }}
                            </div>
                            <div class="mb-3 col">
                                <label for="exampleInputEmail1" class="form-label">Número de celular (*)</label>
                                {{ form_applicant.phone }}
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h4 class="text-center">Clic en la imagen para cargar el acta de nacimiento</h4>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <img src="{% static 'images/image.svg' %}" style="width: 100%; cursor:pointer;"
                                 id="preview">
                            {{ form.birth_certificate }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form.is_deleted }}
            {{ form_applicant.is_deleted }}

            <button class="w-100 btn btn-lg btn-primary mt-5">
                Enviar la solicitud
            </button>
        </form>
    </section>

{% endblock %}

{% block js %}
    <script>
        $('#preview').click(function () {
            $('#id_birth_certificate').trigger('click');
        });
        $('#id_birth_certificate').change(function () {
            const file = this.files[0];
            const objectURL = URL.createObjectURL(file);
            $('#preview').attr('src', objectURL);
        });
    </script>
{% endblock %}