{% extends 'base.html' %}

{% block content %}
    <div class="pricing-header p-3 pt-5 pb-md-5 mx-auto text-center">
        <h1 class="display-4 fw-normal">Seleccione una oficina</h1>
        <p class="fs-5 text-muted">
            Por favor seleccione la oficina más cerca a su domicilio
        </p>
    </div>

    <div class="row row-cols-sm-2 row-cols-md-3 mb-3 text-center justify-content-center">
        {% for domain in object_list %}
            <div class="col">
                <div class="card mb-5 rounded-4 shadow-sm">
                    <div class="card-header py-3">
                        <h3 class="my-0 fw-normal text-center">{{ domain.tenant.name }}</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-title pricing-card-title">
                            Dirección
                        </p>
                        <p class="text-start">
                            <small class="text-muted fw-light">{{ domain.tenant.address }}</small>
                        </p>
                        <a href="http://{{ domain.domain }}/crear-solicitud/" class="w-100 btn btn-lg btn-outline-primary">
                            Ingresar
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}