{% load static %}
<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-2 border-bottom">
        <a href="{{ DOMAIN }}" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="{% static 'images/CNE_logo.svg' %}" width="80px">

        </a>
        <div class="d-inline-flex">
            <span class="fs-4 text-center">Sistema de verificación de actas de nacimiento</span>
        </div>

        <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <img src="{% static 'images/LOGOSAIME.jpg' %}" width="60px">
        </div>
    </div>


</header>
{% include 'show_message.html' %}