body, html {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 11pt;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.05rem;
    border-radius: .3rem;
}

#id_is_deleted {
    display: none !important;
}
fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 6px;
}
legend {
    font-size: 1.3rem;
    margin-top: -34px;
    background: white;
    width: initial;
    padding: 0 20px 20px;
}