{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}: </strong><span>{{ error|escape }}</span>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}: </strong>
        </div>
    {% endfor %}
{% endif %}

{% if form_applicant.errors %}
    {% for field in form_applicant %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}: </strong><span>{{ error|escape }}</span>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form_applicant.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info text-center" role="alert">
            {{ message }}
            {% block js %}
                <script>
                    setInterval(() => {
                        window.location.href = '{{ DOMAIN }}'
                    }, 3000);
                </script>
            {% endblock %}
        </div>
    {% endfor %}
{% endif %}
