{% load i18n %}
<html>
<style></style>
<body>
{% autoescape off %}
    <table style="background-color:#ffffff;min-width:550px;width:100%;font-family:'Source Sans Pro',sans-serif">
        <tr align="center">
            <a href="{{ DOMAIN }}">
                <img src="{{ DOMAIN }}/static/images/CNE_logo.svg" width="80px"
                     style="margin-top: 20px; margin-bottom: 20px">

                <img src="{{ DOMAIN }}/static/images/LOGOSAIME.jpg" width="60px"
                     style="margin-top: 20px; margin-bottom: 20px">
            </a>
            <div style="text-align: left; padding:20px; background-color:#f6f5f8;max-width:630px; margin:0 auto; border-radius: 20px;">
                <br><br>
                Estimado(a) {{ name }}.
                {% block content %}{% endblock %}
                <br><br>

            </div>
        </tr>
    </table>
{% endautoescape %}
</body>
</html>