{% extends 'email/base.html' %}
{% block content %}
    <div style="width: 100%;margin: 0 auto; text-align: left;">
        <p style="font-size: 15px; margin-top: 20px;text-align:justify;">
            La solicitud de verificación fue aprobada y la fecha agenda para que se presente en la institución es para
            {{ scheduled_date }}.
        </p>
        <p style="font-size: 15px; margin-top: 20px;text-align:justify;">
            La oficina que usted seleccionó para realizar el transmite es: <b>{{ office_address }}</b>
        </p>
    </div>
    <br><br>
{% endblock %}
