{% extends 'email/base.html' %}
{% block content %}
    <div style="width: 100%;margin: 0 auto; text-align: left;">
        <p style="font-size: 15px; margin-top: 20px;text-align:justify;">
            La solicitud de verificación fue negada.
        </p>
        <p style="font-size: 15px; margin-top: 20px;text-align:justify;">
            Puede realizar la solictud nuevamente. Tenga en consideración tomar una foto con mejor calidad del acta de
            nacimiento.
        </p>
    </div>
    <br><br>
{% endblock %}
